{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit">
        <h1>Join the Salt!</h1>

        <p>Contributing to Salt is easy and fun, our community is excited about
        helping you get involved!</p>
    </div>

    <div class="row">
        <div class="span6">
            <h2>GitHub help</h2>
            <p>Salt’s code is hosted on GitHub, if you are unfamiliar with git
            and github, then there are many resources available. Look at the
            github help to learn how to contribute code to Salt!</p>
            <p>http://help.github.com</p>
        </div>

        <div class="span6">
            <h2>Learn the code</h2>
            <p>Salt has been made to be easy to expand, and we want your
            expansions! Dive into the code to learn how to mold Salt to your
            needs and be able to contribute back to the community.</p>
            <p>FIXME: Page in the docs with links to writing everything, or
            just put the list here</p>
        </div>
    </div>

    <div class="row">
        <div class="span3">
            <h3>Contributor accolades</h3>
            <p>This page tracks ohloh and github, and posts impressive stats on
            salt developers, like  from:</p>
            <ul>
                <li>Tom is the #5 python dev in the world</li>
                <li>Seth has an 8 kudo ranking etc</li>
                <li>the committer rankings on github</li>
                <li>Congratulations to new commiters</li>
            </ul>
        </div>

        <div class="span3">
            <h3>Salt Stats</h3>
            <ul>
                <li>Commit watchers</li>
                <li>Number of commiters</li>
                <li>Number of modules</li>
                <li>Number of functions</li>
                <li>Number of renderers</li>
            </ul>

            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_partner_badge.js"></script>
            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_factoids.js"></script>
            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_cocomo.js"></script>
            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_basic_stats.js"></script>
        </div>

        <div class="span3">
            <h3>Ideas</h3>
            <p>Track the github issues labeled as RFE</p>
        </div>

        <div class="span3">
            <h3>Milestones</h3>
            <p>Display github issues wrt milestone</p>
        </div>
    </div>
</div>

{% endblock %}
