{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit">
        <h1>Communicate</h1>
        <p>Communicate with the Salt community!</p>
    </div>

    <div class="row">
        <div class="span6">
            <h2>IRC</h2>
            <p>Chat and ask questions, get to know the community!</p>
            <p>IRC Data</p>
        </div>

        <div class="span6">
            <h2>Mailing List</h2>
            <P>Follow announcements and post questions.</p>
            <p>Google Group data</p>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Media Kit</h2>
            <p>Logos and data about how to publish information about Salt</p>
        </div>

        <div class="span4">
            <h2>Salt Presentations</h2>
            <p>Presenting on Salt? Start with a Salt presentation and mold it
            to your needs. Presentations are available on beginning Salt up
            through deep Salt development.</p>
        </div>

        <div class="span4">
            <h2>Join the Planet</h2>
            <p>Got a blog post about Salt? We want to link to it, please give us the url so we can post to it from out Planet page.</p>
            <p>Some form for this</p>
        </div>
    </div>
</div>

{% endblock %}
