{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit"><div class="hero-container">
        <h1>Communicate</h1>

        <p>Salt benefits from a vibrant and growing community. Our goal is to
        build a community where we learn from each other and where we can reach
        our goals together.</p>

        <p>Joining the community is easy, join the Salt development on GitHub,
        Chat with the team in IRC, and get updates and detailed information on
        the mailing list.</p>

        <p>Our community is continuously developing Salt screencasts, watch
        screencasts demonstrating Salt’s capabilities and tricks users have
        implemented using Salt’s tools. Discover how you can contribute
        screencasts and presentations.</p>
    </div></div>

    <div class="row">
        <div class="span6">
            <h2>IRC
                <img src="/static/img/logos/freenode.png" alt="" style="height: 30px;"></h2>
            <p>Chat and ask questions in the <tt>#salt</tt> channel on
            Freenode. Get to know the community!</p>
            <h3>New to IRC? <small>IRC Tips</small></h3>
            <ul>
                <li>Search the <a href="https://groups.google.com/forum/#!forum/salt-users">mailing list</a> first.</li>
                <li>Search the <a href="http://irclog.perlgeek.de/salt/">IRC logs</a> first.</li>
                <li>No introductions needed.<br> There's no need to introduce
                yourself or ask "Can I ask a question?" Just ask!</li>
                <li>Stay logged in and wait for an answer.<br> If you don't get
                an answer immediately, don't give up. The person with the
                answer might be busy coding or afk. Leave your window open and
                someone will reply to you. </li>
                <li>Use <a href="http://webchat.freenode.net/?channels=salt&uio=Mj10cnVlJjk9dHJ1ZSYxMD10cnVl83">
                    Freenode's webchat</a> interface to connect without installing any software.</li>
            </ul>
        </div>

        <div class="span6">
            <h2>Mailing List
                <img src="/static/img/logos/google-groups.gif" alt="" style="height: 30px;"></h2>
            <P>Follow announcements and post questions.</p>
            <form action="http://groups.google.com/group/salt-users/boxsubscribe">
                <p>Join the <a href="https://groups.google.com/forum/#!forum/salt-users">mailing list</a>:
                <br>
                <input type="email" name="email" placeholder="Email address">
                <button type="submit" name="sub">Subscribe</button></p>
            </form>
            <p>Recent posts...</p>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Media Kit</h2>
            <p>Logos and data about how to publish information about Salt</p>
        </div>

        <div class="span4">
            <h2>Salt Presentations</h2>
            <p>Presenting on Salt? Start with a Salt presentation and mold it
            to your needs. Presentations are available on beginning Salt up
            through deep Salt development.</p>
        </div>

        <div class="span4">
            <h2>Join the Planet</h2>
            <p>Got a blog post about Salt? We want to link to it, please give us the url so we can post to it from out Planet page.</p>
            <p>Some form for this</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span2">
            <a href="http://www.linkedin.com/pub/seth-house/35/96a/3b2">
                <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Seth House's profile on LinkedIn">
            </a>
        </div>

        <div class="span2">
            <a href="https://twitter.com/intent/tweet?button_hashtag=saltstack" class="twitter-hashtag-button">Tweet #saltstack</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="span2">
            <a href="https://plus.google.com/114449193225626631691?prsrc=3" rel="author" style="text-decoration:none;">
                <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/>
            </a>
        </div>

        <div class="span2">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://www.facebook.com/SaltStack" data-send="false" data-layout="box_count" data-width="140" data-show-faces="true"></div>
        </div>

        <div class="span2">
            <a href="http://feeds.feedburner.com/TheRed45" title="Subscribe to the Salt blog" rel="alternate" type="application/rss+xml">
                <img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/>
            </a>
        </div>

        <div class="span2">
            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_thin_badge.js"></script>
        </div>
    </div>
</div>

{% endblock %}
