{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit">
        <h1>Follow</h1>
        <p>List our follow options and abstract them to plain verbage:</p>
    </div>

    <div class="row">
        <div class="span2">
            Twitter: Follow comments and information about salt in real time
        </div>

        <div class="span2">
            LinkedIn: Business updates and partner information
        </div>

        <div class="span2">
            Facebook: Like Salt? Be our friend!
        </div>

        <div class="span2">
            Blog: The real deal from the Masters’ mouths
        </div>

        <div class="span2">
            Planet: Blogging about Salt? We want to share it!
        </div>

        <div class="span2">
            FIXME: something else here?
        </div>
    </div>
</div>

{% endblock %}
