{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit carousel" id="hero-quotes"><div class="hero-container">
        <div class="carousel-inner">
            <div class="active item">
                <h1>Join the Salt!</h1>

                <p>Contributing to Salt is easy and fun, our community is
                excited about helping you get involved!</p>
            </div>

            <div class="item">
                <p>Follow the Salty waves</p>
                <p>Watch us on github</p>
                <p>Join the mailing list</p>
                <p>Follow Salt Stack on Twitter</p>
            </div>

            <div class="item">
                <p>Don't be a Minion, Become a Master!</p>
                <p>Participate in events</p>
                <p>Present at a local users group</p>
            </div>

            <div class="item">
                <p>Communicate</p>
                <p>Get answers to questions</p>
                <p>Share your ideas</p>
                <p>Get help contributing</p>
            </div>
        </div>

        <a class="carousel-control left" href="#hero-quotes" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#hero-quotes" data-slide="next">&rsaquo;</a>
    </div></div>

    <div class="row">
        <div class="span12">
            <h1>What happening in Salt <small>(right now)</small></h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="span3">
            <h2>Recent commits</h2>

            <ul id="b-commitlist"></ul>
            <script type="text/template" id="b-commitlist-tmpl">
                <% _.each(objslist.slice(0, 10), function(i) { %>
                    <li>
                        <% if (i.author.avatar_url) { %>
                        <img src="<%= i.author.avatar_url %>" alt="" style="height: 15px;">
                        <% } else { %>
                        <i class="icon-user"></i>
                        <% } %>
                        <em><%= i.author.login || "Unknown" %></em> committed 
                        <a href="<%= i.url %>"><%= i.sha.slice(0,7) %></a>
                        <%= prettyDate(i.commit.committer.date) %>
                    </li>
                <% }); %>
            </script>
        </div>

        <div class="span3">
            <h2>Issues being resolved</h2>

            <ul id="b-issuelist"></ul>
            <script type="text/template" id="b-issuelist-tmpl">
                <% _.each(objslist.slice(0, 10), function(i) { %>
                    <li>
                    <a href="<%= i.html_url %>">
                        Issue <%= i.number %> <%= i.state %>
                        <br><%= prettyDate(i.updated_at) %>
                    </a>
                    </li>
                <% }); %>
            </script>
        </div>

        <div class="span3">
            <h2>Ideas</h2>
            <p>Track the github issues labeled as RFE</p>
        </div>

        <div class="span3">
            <h2>Milestones</h2>
            <p>Display github issues wrt milestone</p>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <h2>Contributor accolades</h2>
            <p>This page tracks ohloh and github, and posts impressive stats on
            salt developers, like  from:</p>
            <ul>
                <li>Tom is the #5 python dev in the world</li>
                <li>Seth has an 8 kudo ranking etc</li>
                <li>the committer rankings on github</li>
                <li>Congratulations to new commiters</li>
            </ul>
        </div>

        <div class="span6">
            <h2>Salt stats</h2>
            <ul>
                <li>Commit watchers</li>
                <li>Number of commiters</li>
                <li>Number of modules</li>
                <li>Number of functions</li>
                <li>Number of renderers</li>
            </ul>

            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_factoids.js"></script>
            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_basic_stats.js"></script>
        </div>
    </div>

</div>
{% endblock %}
