{% extends "base_content.html" %}
{% load url from future %}

{% block content %}
<div class="container">
    <div class="hero-unit carousel" id="hero-quotes"><div class="hero-container">
        <h1>Join the Salt!</h1>

        <p>Contributing to Salt is easy and fun, our community is
        excited about helping you get involved!</p>
    </div></div>

    <div class="row">
        <div class="span12">
            <h1>What happening in Salt <small>(right now)</small></h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="span5">
            <h2>News</h2>
            <ul>
                <li>Announcing the first <strong><a href="{% url 'page' 'sprint' %}">Great Salt Sprint</a>! June
                    30th</strong>; sponsored locations across the country. Don't miss it.
                <a href="{% url 'page' 'sprint' %}">
                    <img src="{{ STATIC_URL }}img/salt-sprint.png" alt="" class="pull-right"></a>
                </li>
            </ul>
        </div>

        <div class="span4">
            <h2>Accolades</h2>
            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_factoids_stats.js"></script>
        </div>

        <div class="span3">
            <h2>Salt stats</h2>

            <ul id="b-statslist"></ul>
            <script type="text/template" id="b-statslist-tmpl">
                <% _.each(objslist, function(i) { %>
                    <li>Forks: <%= i.forks %></li>
                    <li>Watchers: <%= i.watchers %></li>
                    <li>Size: <%= i.size %></li>
                <% }); %>
            </script>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span3">
            <h2>Recent commits</h2>

            <ul id="b-commitlist"></ul>
            <script type="text/template" id="b-commitlist-tmpl">
                <% _.each(objslist.slice(0, 7), function(i) { %>
                    <li>
                        <a href="<%= i.url %>">
                        <% if (i.author.avatar_url) { %>
                        <img src="<%= i.author.avatar_url %>" alt="" style="height: 15px;">
                        <% } else { %>
                        <i class="icon-user"></i>
                        <% } %>
                        <em><%= i.author.login || "Unknown" %></em> committed
                        <br>
                            <%= i.sha.slice(0,7) %>
                        <%= prettyDate(i.commit.committer.date) %>
                        </a>
                    </li>
                <% }); %>
            </script>
        </div>

        <div class="span3">
            <h2>Issues being resolved</h2>

            <ul id="b-issuelist"></ul>
            <script type="text/template" id="b-issuelist-tmpl">
                <% _.each(objslist.slice(0, 7), function(i) { %>
                    <li>
                    <a href="<%= i.html_url %>">
                        Issue <%= i.number %>
                        <br>
                        <%= i.state %> <%= prettyDate(i.updated_at) %>
                    </a>
                    </li>
                <% }); %>
            </script>
        </div>

        <div class="span3">
            <h2>Ideas</h2>

            <ul id="b-issuerfelist"></ul>
            <script type="text/template" id="b-issuerfelist-tmpl">
                <% _.each(objslist.slice(0, 7), function(i) { %>
                    <li>
                    <a href="<%= i.html_url %>">
                        <%= i.title %>
                    </a>
                    </li>
                <% }); %>
            </script>
        </div>

        <div class="span3">
            <h2>Milestones</h2>

            <ul id="b-milestonelist"></ul>
            <script type="text/template" id="b-milestonelist-tmpl">
                <% _.each(objslist.slice(0, 7), function(i) { %>
                    <li>
                    <a href="<%= i.html_url %>">
                        <%= i.title %>
                    <br>
                    <%= Math.round(Number(i.closed_issues) / (Number(i.closed_issues) + Number(i.open_issues)) * 100) %>% complete
                    </a>
                    </li>
                <% }); %>
            </script>
        </div>
    </div>

</div>
{% endblock %}
