{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit">
        <h1>Learn</h1>
        <p>Start down the path to become a Salt master, read the documentation, get into the code, watch screencasts and presentations.</p>
        <p>The Official Salt documentation is continuously built via readthedocs.org:</p>
        <p>http://docs.saltstack.com</p>
    </div>

    <div class="row">
        <div class="span4">
            Screencast series:
        </div>

        <div class="span4">
            blip.tv url (embeds?)
        </div>

        <div class="span4">
            Presentations:
            List presentations
        </div>
    </div>
</div>

{% endblock %}
