{% extends "base_content.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit"><div class="hero-container">
        <h1>Learn <span class="amp">&</span> Communicate</h1>

        <p>Salt benefits from a vibrant and growing community. Our goal is to
        build a community where we learn from each other and where we can reach
        our goals together.</p>

        <p>Joining the community is easy, join the Salt development on GitHub,
        chat with the team in IRC, and get updates and join in-depth
        discussions on the mailing list.</p>
    </div></div>

    <div class="row">
        <div class="span2">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-code" data-toggle="tab">Code</a></li>
                    <li><a href="#tab-docs" data-toggle="tab">Documentation</a></li>
                    <li><a href="#tab-screencasts" data-toggle="tab">Screencasts</a></li>
                    <li><a href="#tab-presentations" data-toggle="tab">Presentations</a></li>
                    <li><a href="#tab-mediakit" data-toggle="tab">Media Kit</a></li>
                    <li><a href="#tab-irc" data-toggle="tab">IRC</a></li>
                    <li><a href="#tab-mailinglist" data-toggle="tab">Mailing list</a></li>
                </ul>
            </div>
        </div>

        <div class="span10">
            <div class="tab-content">
                <div class="tab-pane active" id="tab-code">
                    <h2>Learn the code
                        <img src="{{ STATIC_URL }}img/logos/github.png" alt="" style="height: 30px;"></h2>

                    <p><a href="https://github.com/saltstack">Join the Salt
                        development team on GitHub</a>, contribute
                    code, watch the active development, fork Salt Stack
                    projects and help us deliver a continually growing and
                    exciting project. If you are new to git and GitHub there
                    are many tools to help you become involved in Salt.</p>

                    <p><a href="https://github.com/saltstack">Fork Salt on
                        GitHub and get involved!</a></p>

                    <p>Salt’s code is hosted on GitHub, if you are unfamiliar
                    with Git and GitHub, then there are many resources
                    available. Look at the GitHub help to learn how to
                    contribute code to Salt!</p>

                    <p><a href="http://help.github.com">http://help.github.com</a></p>
                </div>

                <div class="tab-pane" id="tab-docs">
                    <h2>Documentation
                        <img src="{{ STATIC_URL }}img/logos/rtd.png" alt="" style="height: 35px;"></h2>

                    <p>The official Salt documentation is continuously built
                    courtesy of Read the Docs.</p>
                    <p><a href="http://docs.saltstack.org" class="btn"><i class="icon-bookmark"></i> http://docs.saltstack.org</a></p>

                    <h3>Offline? <small>Download the full documentation</small></h3>
                    <div class="btn-group">
                        <a href="http://media.readthedocs.org/pdf/salt/latest/salt.pdf" class="btn">
                            <i class="icon-print"></i> PDF</a>
                        <a href="http://media.readthedocs.org/epub/salt/latest/salt.epub" class="btn">
                            <i class="icon-book"></i> ePUB</a>
                    </div>
                </div>

                <div class="tab-pane" id="tab-screencasts">
                    <h2>Screencasts</h2>

                    <dl>
                        <dt>November 2011</dt>
                        <dd>
                        <ul>
                            <li>
                            <a href="http://twit.tv/show/floss-weekly/191">
                                <em>FLOSS Weekly</em> interviews Thomas S. Hatch about Salt
                            </a>
                            </li>
                            <li>
                            <a href="http://blip.tv/saltstack/salt-installation-configuration-and-remote-execution-5713423">
                                <em>Installing and configuring Salt</em>
                            </a>
                            </li>
                        </ul>
                        </dd>
                    </dl>
                </div>

                <div class="tab-pane" id="tab-presentations">
                    <h2>Presentations</h2>
                    <p>Start with a Salt presentation and mold it to your
                    needs. Presentations are available on beginning Salt up
                    through deep Salt development.</p>

                    <div class="alert alert-info">
                        <p class="label label-info"><i class="icon-info-sign icon-white"></i> Salt presentation templates</p>
                        <ul>
                            <li><a href="https://docs.google.com/present/edit?id=0Adec8jPkHEsnZGQyanR2Y2RfMThmY2Q3cXRyNw">Google Docs</a></li>
                        </ul>
                    </div>

                    <dl>
                        <dt>July 2012</dt>
                        <dd>
                        <ul>
                            <li>
                            <a href="http://www.slideshare.net/mchesnut/sweetening-systems-management-with-salt"><i class="icon-list-alt"></i>
                                <em>Sweetening Systems Management with Salt</em> by Mike Chesnut, Principal Systems Administrator, Talksum
                                <a href="http://www.justin.tv/kctv88/b/325544472"><i class="icon-film"></i> Video (0:45:00–1:12:00)</a>
                            </a>
                            </li>
                        </ul>
                        </dd>

                        <dt>May 2012</dt>
                        <dd>
                        <ul>
                            <li>
                            <a href="http://www.adminknowledge.com/2012/05/linuxfest-northwest-2012.html"><i class="icon-list-alt"></i>
                                <em>A'salt'ing Your Computers</em> by Andrew Niemantsverdriet at LinuxFest Northwest 2012
                            </a>
                            </li>
                        </ul>
                        </dd>

                        <dt>February 2012</dt>
                        <dd>
                        <ul>
                            <li>
                            <em>Salt in Action</em> by Thomas S. Hatch at ZeroMQ@PDX 2012
                            (<a href="http://vimeo.com/38337795"><i class="icon-film"></i> part 1</a>,
                            <a href="http://vimeo.com/38429101"><i class="icon-film"></i> part 2</a>)
                            </li>

                            <li>
                            <a href="http://vimeo.com/37922294"><i class="icon-film"></i>
                                <em>Salt for Remote Execution</em> by Thomas S. Hatch at ZeroMQ@PDX 2012
                            </a>
                            </li>
                        </p>

                        </dd>
                        </ul>

                        <dt>January 2012</dt>
                        <dd>
                        <ul>
                            <li>
                            <a href="https://groups.google.com/d/msg/salt-users/3Xlwlr68ldM/33RmWczvm6UJ">
                                <i class="icon-list-alt"></i> Remote Execution with Salt
                            </a> by Christer Edwards at SCaLE 2012
                            </li>
                        </ul>
                        </dd>

                        <dt>June 27, 2011</dt>
                        <dd>
                        <ul>
                            <li>
                            <a href="http://www.youtube.com/watch?v=FUnctaMqRfc">
                                <i class="icon-film"></i> Salt for Linux
                            </a> by Seth House
                            </li>
                        </ul>
                        </dd>

                        <dt>November 6, 2011</dt>
                        <dd>
                        <ul>
                            <li>
                            Thomas S. Hatch on Salt 0.8.7
                            (<a href="http://cloud.github.com/downloads/saltstack/salt/Salt.pdf"><i class="icon-list-alt"></i> Slides</a>,
                            <a href="http://blip.tv/saltstack/salt-0-8-7-presentation-5713433"><i class="icon-film"></i> Video</a>)
                            </li>
                        </ul>
                        </dd>
                    </dl>

                    <hr>

                    <p>Got a blog post or presentation about Salt? We want to link to it!</p>
                    <form action="" class="form-inline">
                        <div class="input-prepend">
                            {% spaceless %}
                            <span class="add-on"><i class="icon-bookmark"></i></span>
                            <input type="email" class="input-small" name="email" id="email" placeholder="Web address">
                            {% endspaceless %}
                            <button type="submit" class="btn">Submit a URL</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="tab-mediakit">
                    <h2>Media Kit</h2>
                    <p>Logos and data about how to publish information about Salt</p>

                    <ul class="unstyled">
                        <li><a href="{{ STATIC_URL }}downloads/salt-logos.zip" class="btn"><i class="icon-download-alt"></i> zip</a></li>
                        <li><a href="{{ STATIC_URL }}downloads/salt-logos.tar.gz" class="btn"><i class="icon-download-alt"></i> tar.gz</a></li>
                    </ul>
                </div>

                <div class="tab-pane" id="tab-irc">
                    <h2>IRC
                        <img src="/static/img/logos/freenode.png" alt="" style="height: 30px;"></h2>
                    <p>Chat and ask questions in the <tt>#salt</tt> channel on
                    Freenode. Get to know the community!</p>
                    <h3>New to IRC? <small>IRC Tips</small></h3>
                    <dl>
                        <dt>Search before you ask</dt>
                        <dd>
                        <ul>
                            <li><a href="https://groups.google.com/forum/#!forum/salt-users">Mailing list archives</a></li>
                            <li><a href="http://irclog.perlgeek.de/salt/">IRC logs</a></li>
                        </ul>
                        </dd>

                        <dt>No introductions needed</dt>
                        <dd>There's no need to introduce yourself or ask "Can I
                        ask a question?" Just ask!</dd>

                        <dt>Wait for an answer</dt>
                        <dd>If no one responds right away, don't give up. The
                        person with the answer might be busy coding or
                        <acronym title="away from keyboard">afk</acronym>.
                        Leave your window open and someone will reply to
                        you.</dd>

                        <dt>Use the webchat interface</dt>
                        <dd>
                        Use <a href="http://webchat.freenode.net/?channels=salt&uio=Mj10cnVlJjk9dHJ1ZSYxMD10cnVl83">
                            Freenode's webchat</a> interface to connect without
                        installing any software.
                        </dd>
                    </dl>
                </div>

                <div class="tab-pane" id="tab-mailinglist">
                    <h2>Mailing List
                        <img src="/static/img/logos/google-groups.gif" alt="" style="height: 30px;"></h2>
                    <p><a href="https://groups.google.com/forum/#!forum/salt-users">Follow announcements and post questions on the mailing list.</a></p>

                    <form action="http://groups.google.com/group/salt-users/boxsubscribe" class="form-inline">
                        <div class="input-prepend">
                            {% spaceless %}
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            <input type="email" class="input-small" name="email" id="email" placeholder="Email address">
                            {% endspaceless %}
                            <button type="submit" class="btn">Join the mailing list</button>
                        </div>
                    </form>

                    <p>You can join the list without a Google Account via the form above or by emailing <a href="mailto:salt-users+subscribe@googlegroups.com">salt-users+subscribe@googlegroups.com</a>.</p>

                    <h3>Recent posts</h3>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span2">
            <a href="http://www.linkedin.com/pub/thomas-s-hatch/21/a86/175">
                <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Thomas S. Hatch's profile on LinkedIn">
            </a>
        </div>

        <div class="span2">
            <a href="https://twitter.com/intent/tweet?button_hashtag=saltstack" class="twitter-hashtag-button">Tweet #saltstack</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="span2">
            <a href="https://plus.google.com/114449193225626631691?prsrc=3" rel="author" style="text-decoration:none;">
                <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/>
            </a>
        </div>

        <div class="span2">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://www.facebook.com/SaltStack" data-send="false" data-layout="box_count" data-width="140" data-show-faces="true"></div>
        </div>

        <div class="span2">
            <a href="http://feeds.feedburner.com/TheRed45" title="Subscribe to the Salt blog" rel="alternate" type="application/rss+xml">
                <img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/>
            </a>
        </div>

        <div class="span2">
            <script type="text/javascript" src="http://www.ohloh.net/p/488977/widgets/project_thin_badge.js"></script>
        </div>
    </div>
</div>

{% endblock %}
