// HERO UNIT
// ---------

.hero-unit {
  background-color: @heroUnitBackground;
  .border-radius(6px);
  margin-bottom: 30px;
  position: relative;

  .hero-container {
    padding: 60px;

    .hero-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 0;
      overflow: hidden;

      img {
        height: 100%;
      }
    }

    .hero-content {
      z-index: 1;
      position: relative;
    }
  }

  h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    color: @blue;
    font-family: @heroUnitHeadingFont;
    letter-spacing: -1px;

  }
  .textshadow & {
    h1 {
      color: @heroUnitHeadingColor;
      .text-shadow(@heroUnitBackground);
    }
  }

  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseLineHeight * 1.5;
    color: @heroUnitLeadColor;
  }
}
