body {
    padding: 0;
    margin: 0;
    background: #a9e7fc url(/static/img/white-gradient.png) no-repeat center top;
    font: 18px "Terminal Dosis";
    color: #575757;
}

.header {
    width: 446px;
    height: 75px;
    margin: 22px auto 2px auto;
    background: url(/static/img/logo.png) no-repeat center top;
}

.header h1 {
    text-indent: -100000em;
}

.header h1 a {
    width: 446px;
    height: 75px;
    display: block;
}

/* --- mod --- */
/* mod */
.mod{}
.mod .inner{/*background: url(skin/transparent.png) repeat left top;*/}
.bd,.ft, .hd{overflow:hidden; *overflow:visible; zoom:1;}
b.top, b.top b, b.bottom, b.bottom b{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.tl, .tr, .bl, .br{height:10px; width:10px;float:left;}
.tl{background-position: left top;}
.tr{background-position: right top;}
.bl{background-position: left bottom;}
.br{background-position: right bottom;}
.br,.tr{float:right;}
.tr, .tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.bl,.br{margin-top:-10px;}
.top{background-position:center top;}
.bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/
/* complex */
.complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
.complex .bl, .complex .br{/*margin-top:0;*/}
.complex .top{height:5px;}
.complex .bottom{height:5px;/*margin-top:-10px;*/}

/* --- container extends mod --- */
.container {
    width: 500px;
    margin: 0 auto 1.5em;
}

.container .top {
    background: url(/static/img/white-pixels.png) no-repeat center bottom;
    height: 37px;
}

.container .bd {
    padding: 0 20px 20px 20px;
    background-color: white;
    text-align: justify;
    position: relative;
}

/* --- nav extends mod --- */

.nav ul {
    margin: 0; padding: 0;
    list-style-type: none; }

.nav ul li {
    padding-right: 1.0em;
    float: left; }

.nav ul li ul li {
    float: none; }

.nav .ext {
    padding-right: 0;
    padding-left: 1.0em;
    float: right; }

.content_addtl dt img {
    width: auto;
    height: 20px;
}

ul.footer-logo {
    width: 310px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

ul.footer-logo li {
    float: left;
    padding: 0 7px;
    list-style-type: none;
}

ul.footer-logo li img {
    width: auto;
    height: 20px;
}

.container .bottom .br {
    position: absolute;
    right: -25px;
    bottom: -40px;
    width: 100px;
    height: 106px;
    background: url(/static/img/rookie_award.png) no-repeat left top;
}

p {
    margin: 0 0 20px 0;
    padding: 0;	
}

a {
    color: #2896b7;
    text-decoration: none;
}

a:hover {
    color: #6fbbd5;
}

a:active {
    position: relative;
    top: 1px;
}

a:visited {
    color: #2896b7;
    text-decoration: none;
}
