<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Error 404 | Salt Stack</title>

        <meta name="author" content="Lucas Ackley">

        <link rel="stylesheet" href="/static/css/master.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Terminal+Dosis">
    </head>

    <body>
        <div class="mod header">
            <h1><a href="/">Salt Stack</a></h1>
        </div>

        <div class="mod container content">
            <b class="top"><b class="tl"></b><b class="tr"></b></b>
            <div class="hd"></div>
            <div class="bd">
                <h2>Error 404</h2>
                <p>The requested page could not be found.</p>
            </div>
            <div class="ft"></div>
        </div>
    </body>
</html>
