{% extends "base.html" %}
{% load url from future %}
{% load li_href %}

{% block head_script %}
    {% if debug %}
    <script data-main="{{ STATIC_URL }}js/main_org" src="{{ STATIC_URL }}js/libs/require.js"></script>
    {% else %}
    <script data-main="{{ STATIC_URL }}js/main_org" src="{{ STATIC_URL }}js/libs/require.min.js"></script>
    {% endif %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="nav-logo" href="{% url 'index' %}"><img src="/static/img/salt-logo-40.png"></a>

            <div class="nav-collapse">
                <ul class="nav">
                    {% li_href "index" "Home" %}
                    {% li_href "learn" "Learn" %}
                    {% li_href "communicate" "Communicate" %}
                    {% li_href "download" "Download" %}
                </ul>
                <ul class="nav pull-right">
                    <li><a href="http://docs.saltstack.com"><i class="icon-book"></i> Documentation</a></li>
                    <li><a href="http://saltstack.com"><i class="icon-user"></i> Services <span class="amp">&</span> Support</a></li>
                </ul>

                {% comment %}
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
