{% extends "base.html" %}
{% load url from future %}
{% load li_href %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{% url 'page' 'index' %}">Salt Stack</a>

            <div class="nav-collapse">
                <ul class="nav">
                    {% li_href "index" "Home" %}
                    {% li_href "learn" "Learn" %}
                    {% li_href "communicate" "Communicate" %}
                    {% li_href "download" "Download" %}
                </ul>
                <ul class="nav pull-right">
                    <li><a href="http://docs.saltstack.com"><i class="icon-book"></i> Documentation</a></li>
                    <li><a href="http://saltstack.com"><i class="icon-user"></i> Services <span class="amp">&</span> Support</a></li>
                </ul>

                {% comment %}
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
    Modernizr.load([{
        test: window.JSON,
        nope: '{{ STATIC_URL }}js/json2.js'
    }, {
        load: [
            {% if debug %}
            '{{ STATIC_URL }}js/jquery.min.js',
            '{{ STATIC_URL }}js/underscore-min.js',
            '{{ STATIC_URL }}js/bootstrap.min.js',
            {% else %}
            'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',
            'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js',
            'http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.0/bootstrap.min.js',
            {% endif %}

            '{{ STATIC_URL }}js/backbone.js',
            '{{ STATIC_URL }}js/saltstack.js'],
    }],
    complete: function() {
        !function( $ ) {
            $('.hero-unit .carousel').carousel({
                interval: 2000
            })
        }( window.jQuery );
    });
</script>
{% endblock %}
